rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isCreator() {
      return request.auth != null && request.auth.uid == 'SQdalMmsmzccO5A0XptJ8h7vlOB3';
    }

    match /sites/{siteId}/public/{document=**} {
      allow read: if true;
      allow write: if isCreator();
    }

    match /sites/{siteId}/private/{document=**} {
      allow read, write: if isCreator();
    }
  }
}
